<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout}">
<head>
  <title>Error</title>
</head>
<body>
<main layout:fragment="content" class="d-flex justify-content-center align-items-center flex-grow-1 py-5">
  <div class="container mt-5 text-center">
    <h1 class="text-danger display-3">An error occurred!</h1>
    <p class="lead display-6" th:text="${errorMessage}">An unexpected error occurred.</p>
    <p class="fs-4">Please try again later or contact the administrator.</p>
    <a href="/" class="btn btn-outline-primary btn-lg mt-3">Home page</a>
  </div>
</main>
</body>
</html>


