<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout}">
<head>
  <title>Create Volunteer</title>
</head>
<body>
<main layout:fragment="content" class="container w-75 my-5 flex-grow-1">
  <h2 class="text-center">Create Volunteer</h2>

  <form action="/volunteers/save" method="POST" th:object="${volunteer}">
    <div class="mb-3">
      <label for="firstName" class="form-label">First Name</label>
      <input th:field="*{firstName}" id="firstName" type="text" class="form-control" required>
    </div>
    <div class="mb-3">
      <label for="lastName" class="form-label">Last Name</label>
      <input th:field="*{lastName}" id="lastName" type="text" class="form-control" required>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input th:field="*{email}" id="email" type="email" class="form-control" required>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input th:field="*{password}" id="password" type="password" class="form-control" required>
    </div>
    <div class="mb-3">
      <label for="phoneNumber" class="form-label">Phone Number</label>
      <input th:field="*{phoneNumber}" id="phoneNumber" type="text" class="form-control" required>
    </div>
    <div class="mb-3">
      <label for="skills" class="form-label">Skills</label>
      <textarea th:field="*{skills}" id="skills" class="form-control" rows="3"></textarea>
    </div>

    <div class="text-center my-4">
      <button type="submit" class="btn btn-primary btn-lg">Save Volunteer</button>
    </div>
  </form>
</main>
</body>
</html>